* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  /* Disable 2-finger swipe-to-navigate-back gesture */
  overscroll-behavior-x: none;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100%;
  min-height: 100vh;
}

body, #root, #__next {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
}