name: Release Desktop App

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    environment: desktop

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set MacOS signing certs
        if: matrix.os == 'macOS-latest'
        run: |
          chmod +x ./packages/noya-desktop/tools/add-macos-cert.sh
          ./packages/noya-desktop/tools/add-macos-cert.sh
        env:
          MACOS_CERT_P12: ${{ secrets.MACOS_CERT_P12 }}
          MACOS_CERT_PASSWORD: ${{ secrets.MACOS_CERT_PASSWORD }}
      - uses: actions/setup-node@main
        with:
          node-version: 14.17
      - run: yarn
      - run: yarn release:desktop
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
